<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProFSharp.SvnMail.Smtp.Host" value="smtpHostnameOrIP" />
    <add key="ProFSharp.SvnMail.Smtp.UserName" value="exampleUsername" />
    <add key="ProFSharp.SvnMail.Smtp.Password" value="examplePassword" />
    <add key="ProFSharp.SvnMail.Message.From" value="example@sample.address" />
    <add key="ProFSharp.SvnMail.Message.To" value="example@sample.address" />
    <add key="ProFSharp.SvnMail.Message.Subject" value="svn post commit event" />
    <add key="ProFSharp.SvnMail.Message.Body" value="Notification: Changes committed to SVN. Repo:{0} Rev:{1}" />
    <add key="ProFSharp.SvnMail.Snv.PathToSvnLook" value="C:\Program Files\subversion\bin\svnlook.exe" />
  </appSettings>
</configuration>